#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
  }
  
  /* -------LEFT SIDE------- */
  #left-panel {
    background-color: #26a7de;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
    height: 100vh;
  }
 
  #top-left-panel {
    display: block;
    background-color: orange;
  }
   /* brand logo */
  #logo{
    display: flex;
    flex-wrap: nowrap;
    padding: 5% 0 0 5%;
    height: 20%;
  }

  #logo-img {
    padding:0 2% 0 0;
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
  }

  #dash-logo{
    font-size: 4vh;
    line-height: 1.3;
    color:white;
  }
/* navigation menu */
  .left-nav > nav{
    background-color: red;
    color:white;
  }

  .left-nav > ul{
    list-style-type: none;
    padding: 5% 0 0 5%;
    font-size: 3vh;
  }

  #left-panel > footer{
    background-color: rgb(50, 137, 108);
  }
  
  /* -------RIGHT SIDE------- */
  #main {
    background-color: lightcoral;
    height: 100vh;
    overflow: hidden;
  }
  